parameters:
    ignoreErrors:
        - message: '#Trait Fridzema\\ValidationPlus\\Traits\\HasWarningRules is used zero times and is not analysed#'
          path: src/Traits/HasWarningRules.php

        - message: '#Dynamic call to static method Illuminate\\Testing\\TestResponse.*::getWarningsFromResponse\(\)#'
          path: src/ValidationPlusServiceProvider.php
          count: 3

