parameters:
    ignoreErrors:
        - message: '#Trait Fridzema\\ValidationPlus\\Traits\\HasWarningRules is used zero times and is not analysed#'
          path: src/Traits/HasWarningRules.php

        - message: '#Call to an undefined method Illuminate\\Testing\\TestResponse.*::getWarningsFromResponse\(\)#'
          path: src/ValidationPlusServiceProvider.php

        - message: '#Call to an undefined method Illuminate\\Testing\\TestResponse.*::getSession\(\)#'
          path: src/ValidationPlusServiceProvider.php

        - message: '#PHPDoc tag @var for variable \$this contains generic class Illuminate\\Testing\\TestResponse but does not specify its types#'
          path: src/ValidationPlusServiceProvider.php

        - message: '#Anonymous function should return array but returns mixed#'
          path: src/ValidationPlusServiceProvider.php

        - message: '#Cannot access offset .warnings. on mixed#'
          path: src/ValidationPlusServiceProvider.php
